nav{
    background-color: #ffba57;
    border: 7px solid #ff5857;
    border-radius: 5px;
    height: 80px;
}
nav>a{
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    margin-left: 50px;
    vertical-align: top;

}
nav>image{
    position: relative;
}
#home{
    background-color: rgba(255,246,190,0.79);
}
.dorp{
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
    margin-left: 50px;
    vertical-align: top;

}
.dorp_con{
    background-color: #ffba57;
    cursor: pointer;
    z-index: 999;
}
.dorp_con>a{
    text-decoration: none;
    color: white;
}
.first{
    margin:0 auto;
    background: darkcyan;
    width:200px;
    height:200px;
    border:7px solid darkslategray;
    border-radius:30px;
    text-align: center;
    line-height: 200px;
}
.d1{
     background-color: #ffba57;
     width:290px;
     border: 7px solid #ff5857;
     border-radius: 5px;
    margin-top: 20px;
 }
.d2,.d3{
    background-color: #ffba57;
    width:290px;
    border: 7px solid #ff5857;
    border-radius: 5px;
    margin-top: 20px;
}
.d1>span{
    color: white;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}
.d2>span,a,.d3>span,#shaixuan{
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
}
.d1 input {
    width: 200px;
    height: 42px;
    padding-left: 10px;
    border: 7px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}
.d2_1>a{
  background-color: #2abfd2;
}
.d1 button {
    width: 40px;
    height: 45px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.d1 button{
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
body{
    background-color: #4ad2cb;
}
.farm{
    position:absolute;
         top:120px;
         left:320px;
    background-color: #ffba57;
    width:1150px;
    height: 150px;
    border: 7px solid #ff5857;
    border-radius: 5px;
}
#form2>select{
    width: 250px;
    height: 50px;
    padding-left: 10px;
    border: 7px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}
#form2>button{
    width: 40px;
    height: 45px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}
#form2>button{
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
#shaixuan{
    margin-left: 20px;
}
#pic{
    position: absolute;
    display: block;
    left:620px;
    top: 10px;
}
#pic1{
    position: absolute;
    display: block;
    left:825.5px;
    top: 10px;
}
.photo{
    position:absolute;
    top:250px;
    left:320px;
    background-color: #ffba57;
    width:1150px;
    height: 1150px;
    border: 7px solid #ff5857;
    border-radius: 5px;
}
#md{
    margin-top: -10px;
}
#lalala{
    margin-left: -320px;
    font-weight: bolder;
    font-family: FontAwesome;
}
.jj{
    max-width: 250px;
max-height: 250px;
}

