nav{
    background-color: #ffba57;
    border: 7px solid #ff5857;
    border-radius: 5px;
    height: 80px;
}
nav>a{
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    margin-left: 50px;
    vertical-align: top;

}
nav>image{
    position: relative;
}
#home{
    background-color: rgba(255,246,190,0.79);
}
.dorp{
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
    margin-left: 50px;
    vertical-align: top;

}
.dorp_con{
    background-color: #ffba57;
    cursor: pointer;
    z-index: 999;
}
.dorp_con>a{
    text-decoration: none;
    color: white;
}
.tr1{
    width: 100%;
    background-color: #ffffff;
    border: 7px solid rgba(255, 88, 87, 0.49);
    border-radius: 5px;
}
.h11{
    color: #686868;
    font-weight: bolder;
    font-size: x-large;
    font-family: FontAwesome;
    border-bottom: 2px solid rgba(255, 88, 87, 0.49);
    height: 90px;
}
.h11>a{
    float: left;
}
.h11>a>img{
    border-radius: 5px;
}
#qq1{
    background-color: rgba(255, 88, 87, 0.49);
}
.float{
    float: left;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 5px;
}
.left{
    margin-left: 20px;
}
.bb{
    position: relative;
    margin: 0.5rem 0;
    padding: 0.6em 1.8em 0.9em;
    border: none;
    background-color: #FFBA57;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    box-shadow: inset 0.1em -0.2em 0 4px #FF5857, inset -0.1em -0.2em 0 4px #FF5857, inset 0.08em -0.18em 0 5px #bd0100, inset -0.08em -0.18em 0 5px #bd0100, 0 0.25em 0 0.15em rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    overflow: hidden;
    transition: all 90ms ease-in-out;
    width: 100px;
    height: 30px;cursor: pointer;


}